div.row-fluid
  div#info.span12.well 
    strong Productivity based on <a href="http://en.wikipedia.org/wiki/Source_lines_of_code#Disadvantages">lines of code</a> is <em>so yesterday</em>. 

div.row-fluid  
  div.span12
    table#committers.table.table-bordered.table-striped
      thead
        tr
          th Avatar
          th User
          th { Curlies Opened
          th Curlies Closed }
          th Curly Balance
          th Functional Syntax
          th TODOs
          th Total Commits
      tbody
        - each authorCount in authorCounts
          tr
            td
              img(src=authorCount.value.author['avatar_url'], width=25, height=25)
            td
              strong= authorCount.value.author.login
            td
              = authorCount.value.patterns.curly_open.counts.delta
            td
              = authorCount.value.patterns.curly_close.counts.delta
            td
              = authorCount.value.patterns.curly_open.counts.delta - authorCount.value.patterns.curly_close.counts.delta
            td
              = authorCount.value.patterns.functional.counts.delta
            td
              = authorCount.value.patterns.todo.counts.delta
            td
              = authorCount.value.commits

//- - each dailyCount in dailyCounts
//-   div.row-fluid
//-     = JSON.stringify(dailyCount);